@import "variable.styl"
*
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;

body, html
  line-height: 1
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'PingFangSC-Regular', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif!important
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  -webkit-font-smoothing: antialiased
  width: 100%
  height: 100%

::selection
  background-color: #262a30
  color: #fff

#app
  height: 100%

hr
  border: 0
a
 transition: color .3s ease

input, textarea
  outline: none
  resize: none
  border: none

.text-right
  text-align: right
.text-left
  text-align: left

.right
  float: right
.left
  float: left
.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0
.clearfix
  zoom: 1

.shadow
  box-shadow: 0 0 10px #ddd
  transition: box-shadow 0.5s
  &:hover
    box-shadow: 0 0 40px #bbb

.text-shadow
  text-shadow: 0px 0px 1px #ccc

.bm-panel
  margin: 0.9rem 1.5% 0.4rem
@media (max-width: 992px)
  .bm-panel
    margin-left: 5%
    margin-right: 5%
    margin-top: 0.44rem
  .bm-panel
  .near-panel
    &.shadow 
      box-shadow: inherit
      &:hover
        box-shadow: inherit

.form-control
  display: block
  height: 0.24rem
  width: 98%
  padding: 0.07rem 1%
  background-color: #ffffff
  border-radius: 0.04rem
  color: #565656
  font-size: 0.14rem
  border: 1px dashed #e3e3e3
  transition: background-color .3s linear
  &:focus
    background-color: #faffbd

.slide-fade-enter-active
  transition: all 1.2s ease
.slide-fade-leave-active
  transition: all .1s cubic-bezier(2.0, 0.5, 0.8, 1.0)
.slide-fade-enter
.slide-fade-leave-to
  transform: translateX(50px)
  opacity: 0

.create
  border: 2px dashed currentColor
  margin: -2px
  color: #ddd
  transition: background-color 0.5s, color 0.5s, 
  &:hover
    background-color: rgba(0, 0, 0, 0.02)
    color: #7e8c8d
.icon-add
  display: block
  width: 50px
  height: 50px
  position: absolute
  left: 50%
  top: 50%
  margin-left: -25px
  margin-top: -25px
  &:before
  &:after
    content: ''
    display: block
    position: absolute
    background-color: currentColor
    left: 50%
    top: 50%
    z-index: 1
  &:before
    width: 30px
    height: 4px
    margin-left: -15px
    margin-top: -2px
  &:after
    width: 4px
    height: 30px
    margin-left: -2px
    margin-top: -15px
