// ----颜色
$color-background = #fff
$color-menus-background = #fff
$color-border = #eee
$color-text = #314659
$color-text-title = rgba(0 ,0 ,0, 0.75)
$color-text-body = rgba(0, 0, 0, 0.65)
$color-text-caption = rgba(0, 0, 0, 0.43)
$color-text-disable = rgba(0, 0, 0, 0.25)
