.main-block, .footer-block {
    width: 1140px;
    margin: 0 auto;
}
/* 头部 菜单 */
.top-nav {
    height: 64px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 3px #aaa;
}
.top-nav-container {
    border: 0;
    margin-bottom: 0;
}
.top-nav-logo {
    float: left;
    padding: 16px 30px;
    background-color: #fff;
    margin-right: -1px;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.top-nav-logo svg {
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
    vertical-align: middle;
}
.top-nav-logo:hover svg {
    fill: #fff;
}
.top-nav-slogan {
    position: relative;
    line-height: 34px;
    margin: 15px 0;
    padding-left: 30px;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    letter-spacing: .2em;
    border-left: 1px solid #5b6064;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-nav-buttons {
    float: right;
    padding-right: 2%;
}
.top-nav-menu-toggle {
    display: block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    padding: 20px;
    line-height: 0;
    cursor: pointer;
    background-color: #fff;
}
.top-nav-menu-toggle,
.top-nav-menu-toggle span {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.top-nav-menu-toggle span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 2px;
    width: 100%;
    margin-top: 5px;
    background-color: #5b6064;
    opacity: 1;
}
.top-nav-menu-toggle:not(.active):hover {
    transform: rotateZ(-90deg);
}
.top-nav-menu-toggle:not(.active):hover span:first-child {
    transform: rotateZ(-45deg);
    width: 50%;
    top: 3px;
    left: -2px;
}
.top-nav-menu-toggle:not(.active):hover span:last-child {
    transform: rotateZ(45deg);
    width: 50%;
    top: -3px;
    left: -2px;
}
.top-nav-menu-toggle.active span {
    opacity: 0;
}
.top-nav-menu-toggle.active span:first-child {
    opacity: 1;
    transform: rotateZ(-45deg);
    top: 6px;
}
.top-nav-menu-toggle.active span:last-child {
    opacity: 1;
    transform: rotateZ(45deg);
    top: -7px;
}
.top-nav-menu {
    position: fixed;
    top: 64px;
    width: 100%;
    height: 0;
    right: 0;
    z-index: 5;
    overflow: hidden;
    background-color: #24292e;
    text-align: right;
    border: 0;
    padding: 0 2%;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transform: translate3d(0, -112px, 0);
}
.top-nav-menu.top-nav-menu-show {
    height: 48px;
    transform: translate3d(0, 0, 0);
}
.top-nav-menu li {
    display: inline-block;
    overflow: hidden;
}
.top-nav-menu-item {
    display: block;
    padding: 0 20px;
    white-space: nowrap;
    position: relative;
    float: left;
    color: #fff;
    background-color: #24292e;
    line-height: 48px;
    font-size: 16px;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.top-nav-menu-item:hover {
    background-color: #5b6064;
    color: #fff;
}
@media(max-width:415px) {
    .top-nav-slogan {
        display: none;
    }
    .top-nav-menu {
        padding: 5px;
        width: auto;
    }
    .top-nav-menu li {
        display: block;
    }
    .top-nav-menu.top-nav-menu-show {
        height: auto;
    }
}

/* 内容 */
.main-block {
    margin-top: 80px;
}
.main-content {
    margin: 0 20px;
    padding-top: 20px;
}
.bm-panel {
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 15px;
    position: relative;
}
.col-main {
    float: left;
    width: 780px;
    position: relative;
}
.col-aside {
    float: right;
    width: 300px;
    position: relative;
}
/* 右侧个人介绍 */
.author-site {
    height: 360px;
}
.author-site-bg {
    width: 300px;
    height: 140px;
}
.author-site-box {
    position: absolute;
    height: 220px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #222;
}
.author-avatar {
    display: block;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: -42px;
    left: 50%;
    margin-left: -45px;
    border: 3px solid currentColor;
    background-color: currentColor;
    color: #222;
}
.author-name {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}
.author-desc {
    text-indent: 24px;
    margin-top: 5px;
    padding: 0 10px;
    margin-bottom: 20px;
    color: #aaa;
}
.site-state {
    margin-top: 9px;
    text-align: center;
}
.site-state-item {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px dashed #666;
}
.site-state-item:first-child {
    border-left: none;
}
.site-state-item-count {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #999;
}
.site-state-item-count,
.site-state-item-name {
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.site-state-item:hover .site-state-item-count, 
.site-state-item:hover .site-state-item-name {
    color: #fff;
}
.site-state-item .site-state-item-name {
    color: #999;
}
/* 左侧 轮播图 */
.slide-container {
    position: relative;
    height: 360px;
}
.slide-pic {
    position: relative;
    width: 100%;
    height: 100%;
}
.slide-text-items {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
}
.slide-text-item {
    height: 100%;
    padding-left: 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}
/* 右侧 热门推荐 热门标签 文章归档 */
.bm-panel-title,
.bm-panel-bar {
    position: relative;
    padding: 15px;
}
.bm-panel-title {
    background-color: #222;
    /*border-bottom: 2px dashed #fff;*/
    color: #aaa;
}
.bm-panel-bar {
    background-color: #222;
    /*border-top: 2px dashed #fff;*/
    color: #aaa;
}
/* 热门推荐 */
.hot-recomm-item {
    position: relative;
    padding: 12px 15px 15px 15px;
    border-bottom: 1px dashed #efefef;
}
.hot-recomm-item:last-child {
    border-bottom: none;
}
.hot-recomm-item-info {
    height: 40px;
}
.hot-recomm-item-title {
    padding-top: 4px;
}
/* 我的应用 */
.application {
    display: block;
    position: relative;
    margin-bottom: 15px;
    background-color: #fff;
    overflow: hidden;
}
.application .application-name {
    display: block;
    text-align: center;
    padding: 15px;
    line-height: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-size: 100%;
    background-position: center;
    -webkit-transition: background-size .3s ease-in-out;
    transition: background-size .3s ease-in-out;
}
.application .application-name:hover {
    background-size: 120%;
}
.application svg {
    position: absolute;
    right: -10px;
    bottom: -10px;
}
/* 热门标签 */
.hot-tag-panel {
    padding: 15px;
    height: 40px;
}
/* 文章归档 */
.art-place-panel {
    padding: 15px;
    height: 40px;
}
/* 联系我 */
.side-contact-qrcode img {
    width: 300px;
    height: 300px;
    display: block;
}
.side-contact-items {
    text-align: center;
}
.side-contact-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    margin: 0 5px;
    border-radius: 3px;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.bc-weibo { background-color: #f46e65; }
.bc-email { background-color: #ffce3d; }
.bc-github { background-color: #3db8c1; }
.bc-weixin { background-color: #3dbd7d; }
.bc-qq { background-color: #49a9ee; }
.side-contact-item:hover {
    background-color: #4a4a4a;
}
.side-contact-item svg {
    vertical-align: text-top;
}
/* 左侧 列表 */
.posts-item {
    padding: 20px 20px;
    position: relative;
    border-top: 1px dashed #efefef;
}
.posts-item .meta {
    text-align: right;
}
.posts-item .date {
    display: inline-block;
    margin-right: 20px;
}
.posts-item .comment {
    display: inline-block;
    margin-right: 5px;
}
.posts-item .title {
    margin-bottom: 15px;
}
.posts-item .entry-content p {
    margin-top: 15px;
}
.posts-item:first-child {
    border-top: none;
}
.posts-item:first-child:after,
.posts-item:first-child:before {
    display: none;
}
.page-nav {
    line-height: 20px;
    position: relative;
    background-color: #222;
    /*border-top: 2px dashed #fff;*/
    height: 60px;
}
.page-nav .prev,
.page-nav .next {
    color: #aaa;
    padding: 20px;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.page-nav .prev:hover,
.page-nav .next:hover {
    color: #fff;
}
.page-nav .prev {
    float: left;
}
.page-nav .next {
    float: right;
}
.copyright {
    position: relative;
    margin-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}
.copyright:after,
.copyright:before {
    display: block;
    content: '';
    position: absolute;
}
.copyright a {
    margin-left: 5px;
}
/* post */
.post-content .bm-panel-title {
    background-color: #fff;
    border-bottom: 1px dashed #e3e3e3;
    color: #222;
}
.post-content .bm-panel-content {
    padding: 15px;
}
.post-content .bm-panel-bar {
    padding: 15px 20px;
    background-color: #fff;
    border-top: 1px dashed #e3e3e3;
    color: #222;
}
.post-content .post-title {
    font-size: 18px;
    line-height: 1.75;
}
.post-content .post-body {
    font-size: 14px;
    color: #333;
    line-height: 2;
    word-break: break-all; 
    padding-bottom: 16px;
    overflow: hidden;
    width: 100%;
}
.post-content .post-meta span {
    font-size: 12px;
}
.post-content .post-tags span {
    display: inline-block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    background-color: #ebebeb;
    padding: 5px 10px;
    margin-right: 8px;
    border-radius: 15px;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.post-content .post-tags span:hover {
    background-color: #222; 
    color: #fff;
}
.post-content .post-like {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    z-index: 1;
    top: -25px;
    right: 45px;
    border: 1px dashed #e3e3e3;
    border-radius: 50%;
    background-color: #fff;
}
.post-content .post-like:hover .heart,
.post-content .post-like:hover .heart:before,
.post-content .post-like:hover .heart:after {
    background-color: #dd4b39;
}
.heart {
    position: absolute;
    top: 19px;
    left: 16px;
    display: block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.heart, .heart:after, .heart:before {
    width: 16px;
    height: 16px;
    background-color: #e3e3e3;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
}
.heart:after, .heart:before {
    position: absolute;
    content: '';
    border-radius: 50%;
}
.heart:before {
    bottom: 0;
    left: -8px;
}
.heart:after {
    top: -8px;
    right: 0;
}

/* commont items */
.comment-list .bm-panel-content {
    padding: 15px;
}
.comment-list .comment-item {
    border-top: 1px dashed #e3e3e3;
    padding: 10px 5px;
}
.comment-list .comment-item:first-child {
    border-top: none;
    padding: 0 5px 10px 5px;
}
.comment-list .comment-item-meta {
    word-wrap: break-word;
    word-break: break-all;
    height: 20px;
    overflow: hidden;
}
.comment-list .comment-item-meta-author {
    float: left;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}
.comment-list .comment-item-meta-author:hover {
    color: #666;
}
.comment-list .comment-item-meta time {
    float: right;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}
.comment-list .comment-item-text {
    word-wrap: break-word;
    word-break: break-all;
    color: #666;
}
/* create-comment */
.create-comment .bm-panel-content {
    padding: 15px;
}
.create-comment .create-comment-meta span {
    display: inline-block;
}
.create-comment .create-comment-meta input {
    display: inline-block;
    width: 295px;
}
.create-comment .create-comment-meta .create-comment-username {
    margin-right: 10px;
}
.create-comment .create-comment-meta input {
    border: 1px dashed #e3e3e3;
}
.create-comment .create-comment-content {
    width: 722px;
    height: 120px;
    border: 1px dashed #e3e3e3;
}
.create-comment .create-comment-submit {
    margin-bottom: 0;
}
.create-comment .create-comment-submit a {
    display: inline-block;
    background-color: #222222;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.create-comment .create-comment-submit a:hover {
    background-color: #4a4a4a;
}
/* labs */
.labs .lab-item {
    display: block;
    position: relative;
    width: 258px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.labs .lab-item:nth-child(4n) {
    margin-right: 0;
}
.labs .lab-item-cover {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    background-size: 300px;
    background-position: center;
    -webkit-transition: background-size .3s ease-in-out;
    transition: background-size .3s ease-in-out;
}
.lab-item-cover span {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
.labs .lab-item-cover:after {
    content: '';
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .2s ease-out;
    -webkit-transition: background-color .2s ease-out;
}
.labs .lab-item:hover .lab-item-cover {
    background-size: 360px;
}
.labs .lab-item:hover .lab-item-cover:after {
    background-color: rgba(0, 0, 0, 0.4);
}
.labs .lab-item-info {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    transform: translateY(100%);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}
.labs .lab-item:hover .lab-item-info {
    transform: translateY(0);
}
.labs .lab-item-info .font-title {
    padding: 15px 10px 0;
    line-height: 16px;
    text-align: center;
}
.labs .lab-item-info .help-text {
    padding: 10px 10px 20px;
    line-height: 16px;
    text-indent: 2em;
}
/* about */
.about .bm-panel-content {
    padding: 15px;
}
