.main-block {
    margin-left: auto;
    margin-right: auto;
}
.main-block {
    animation: fade-in .5s;
    -webkit-animation: fade-in .5s;
}
/* 头部 菜单 */
.top-nav {
    height: 64px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 3px #26272b;
}
.top-nav-container {
    border: 0;
    margin-bottom: 0;
}
.top-nav-logo {
    float: left;
    padding: 16px 30px;
    background-color: #fff;
    margin-right: -1px;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.top-nav-logo:hover {
    background-color: #33363b;
    color: #f44336;
}
.top-nav-logo svg {
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
    vertical-align: middle;
}
.top-nav-logo:hover svg {
    fill: #fff;
}
.top-nav-slogan {
    position: relative;
    line-height: 34px;
    margin: 15px 0;
    padding-left: 30px;
    overflow: hidden;
    font-size: 12px;
    color: #333;
    letter-spacing: .2em;
    border-left: 1px solid #5b6064;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-nav-buttons {
    float: right;
    padding-right: 2%;
}
.top-nav-menu-toggle,
.top-nav-menu-search {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 24px;
    height: 24px;
    padding: 20px 8px;
    line-height: 0;
    cursor: pointer;
}
.top-nav-menu-search svg,
.top-nav-menu-toggle,
.top-nav-menu-toggle span {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.top-nav-menu-search:hover svg {
    fill: #222;
}
.top-nav-menu-toggle:hover span  {
    background-color: #222;
}
.top-nav-menu-toggle span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 3px;
    width: 100%;
    margin-top: 4px;
    background-color: #5b6064;
    opacity: 1;
    border-radius: 5px;
    transform: rotateZ(0deg);
}
@media(min-width:416px) {
    .top-nav-menu-toggle:not(.active):hover {
        transform: rotateZ(-90deg);
    }
    .top-nav-menu-toggle:not(.active):hover span:first-child {
        transform: rotateZ(-45deg);
        width: 50%;
        top: 3px;
        left: -2px;
    }
    .top-nav-menu-toggle:not(.active):hover span:last-child {
        transform: rotateZ(45deg);
        width: 50%;
        top: -3px;
        left: -2px;
    }
}
.top-nav-menu-toggle.active span {
    opacity: 0;
}
.top-nav-menu-toggle.active span:first-child {
    opacity: 1;
    transform: rotateZ(-45deg);
    top: 6px;
}
.top-nav-menu-toggle.active span:last-child {
    opacity: 1;
    transform: rotateZ(45deg);
    top: -7px;
}
.top-nav-menu {
    position: fixed;
    top: 64px;
    width: 100%;
    height: 0;
    right: 0;
    z-index: 5;
    overflow: hidden;
    background-color: #26272b;
    text-align: right;
    border: 0;
    padding: 0 2%;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transform: translate3d(0, -112px, 0);
}
.top-nav-menu.top-nav-menu-show {
    height: 48px;
    transform: translate3d(0, 0, 0);
}
.top-nav-menu li {
    display: inline-block;
    overflow: hidden;
}
.top-nav-menu-item {
    display: block;
    padding: 0 20px;
    white-space: nowrap;
    position: relative;
    float: left;
    color: #fff;
    background-color: #24292e;
    line-height: 48px;
    font-size: 16px;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.top-nav-menu-item:hover {
    background-color: #5b6064;
    color: #fff;
}
@media(max-width:415px) {
    .top-nav-slogan {
        display: none;
    }
    .top-nav-menu {
        padding: 5px;
        width: auto;
    }
    .top-nav-menu li {
        display: block;
    }
    .top-nav-menu.top-nav-menu-show {
        height: auto;
    }
}
.top-nav-share {
    position: fixed;
    top: 64px;
    left: 0;
    padding: 0 1rem;
    height: 0;
    right: 0;
    z-index: 5;
    overflow: hidden;
    background-color: #faffbd;
    text-align: right;
    border: 0;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transform: translate3d(0, -112px, 0);
}
.top-nav-share input {
    font-size: 1rem;
    width: 100%;
    color: #5d5d5d;
    height: 48px;
    border: 0;
    background-color: #faffbd;
    border-radius: 0;
    outline-style: none;
    text-align: right;
}
.top-nav-share.top-nav-share-show {
    height: 48px;
    transform: translate3d(0, 0, 0);
}
/* 内容 */
.main-block {
    margin-top: 80px;
}
.main-content {
    margin: 0 20px;
    padding-top: 20px;
    min-height: 280px;
}
.bm-panel {
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 15px;
    position: relative;
}

/* 右侧 热门推荐 热门标签 文章归档 */
.bm-panel-title,
.bm-panel-bar {
    position: relative;
    padding: 15px;
}
.bm-panel-title {
    background-color: #222;
    /*border-bottom: 2px dashed #fff;*/
    color: #aaa;
}
.bm-panel-bar {
    background-color: #222;
    /*border-top: 2px dashed #fff;*/
    color: #aaa;
}
/* 热门推荐 */
.hot-recomm-item {
    position: relative;
    padding: 12px 15px 15px 15px;
    border-bottom: 1px dashed #efefef;
}
.hot-recomm-item:last-child {
    border-bottom: none;
}
.hot-recomm-item-info {
    height: 40px;
}
.hot-recomm-item-title {
    padding-top: 4px;
}
/* 我的应用 */
.application {
    display: block;
    position: relative;
    margin-bottom: 15px;
    background-color: #fff;
    overflow: hidden;
}
.application .application-name {
    display: block;
    text-align: center;
    padding: 15px;
    line-height: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-size: 100%;
    background-position: center;
    -webkit-transition: background-size .3s ease-in-out;
    transition: background-size .3s ease-in-out;
}
.application .application-name:hover {
    background-size: 120%;
}
.application svg {
    position: absolute;
    right: -10px;
    bottom: -10px;
}
/* 热门标签 */
.hot-tag-panel {
    padding: 15px;
    height: 40px;
}
/* 文章归档 */
.art-place-panel {
    padding: 15px;
    height: 40px;
}
/* 文章列表 */
.post-list .main-block {
    max-width: 1200px;
}
.post-list .list-container {
    width: 940px;
    height: auto;
    margin: 0px auto 1.5rem auto;
    position: relative;
}
.post-list .posts-item {
    display: block;
    width: 450px;
    float: left;
    height: auto;
    background-color: #fff;
    margin: 0 10px 20px 10px;
    box-shadow: 1px 2px 3px #ddd;
    -webkit-box-shadow: 1px 2px 3px #ddd;
}
.post-list .posts-item .post-pic {
    display: block;
    width: 100%;
    height: 212px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.post-list .posts-item .post-header {
    padding: 20px 20px 15px 20px;
}
.post-list .posts-item .post-title {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    font-size: 18px;
    color: #000;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.post-list .posts-item .post-date {
    text-align: right;
}
.post-list .posts-item .post-content {
    padding: 0 20px 10px 20px;
    min-height: 58px;
}
.post-list .posts-item .post-meta {
    padding: 15px 20px 15px 15px;
    overflow: hidden;
}
.post-list .posts-item .post-meta .post-button {
    display: block;
    float: left;
    border: 1px solid #d9d9d9;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    margin-right: 10px;
    border-radius: 3px; 
    font-size: 12px;
    color: #777;
    -webkit-transition: all .24s linear;
    transition: all .24s linear;
}
.post-list .posts-item .post-meta .post-button:hover {
    color: #26272b;
    border: 1px solid #26272b;
}
.post-list .posts-item .post-meta .post-tag {
    cursor: pointer;
    height: 32px;
    float: right;
    display: block;
    font-size: 12px;
    color: #777;
    padding: 0 10px;
    line-height: 32px;
    max-width: 100px;
    border-radius: 3px; 
    text-align: center;
    background-color: #efefef;
    -webkit-transition: color .24s linear, background-color .24s linear;
    transition: color .24s linear, background-color .24s linear;
}
.post-list .posts-item .post-meta .post-tag:hover {
    color: #fff;
    background-color: #26272b;
}

/* page-nav */
.page-nav {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    color: #aaa;
    margin: .5rem 0;
}
.page-nav .pages {
    width: 100%;
    padding-bottom: .25rem;
    margin-bottom: .5rem;
}
.page-nav .page-number {
    display: inline-block;
    color: #aaa;
    font-size: .8rem;
    padding: .35rem .4rem;
    margin: 0 .1rem;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    -webkit-transition: all .24s linear;
    transition: all .24s linear;
}
.page-nav .current,
.page-nav .page-number:hover {
    color: #26272b;
    border-bottom: 3px solid #2ecc40;
}
/* footer */
.footer-block {
    background-color: #202020;
    margin-top: 2rem;
    position: relative;
}
.footer-block .container {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
}
.footer-block .footer-block-author,
.footer-block .footer-block-menus,
.footer-block .footer-block-contact,
.footer-block .footer-block-qrcode {
    float: left;
    color: #a1a1a1;
    position: relative;
    margin-left: .75rem;
    margin-right: .75rem;
}
.footer-block .footer-block-author {
    width: 570px;
}
.footer-block .footer-block-menus,
.footer-block .footer-block-contact,
.footer-block .footer-block-qrcode {
    width: 170px;
}
.footer-block h2 {
    font-size: .75rem;
    font-weight: 300;
    margin: .75rem 0;
    line-height: 2rem;
    position: relative;
}
.footer-block h2:before {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px dotted #a1a1a1;
    top: 50%;
    width: 100%;
}
.footer-block h2 span {
    padding-right: .5rem;
    background-color: #202020;
    position: relative;
}
.footer-block .author-desc {
    font-size: .7rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.footer-block .site-state {
    overflow: hidden;
    text-align: center;
}
.footer-block .site-state-item {
    float: left;
    width: 33.33%;
}
.footer-block .site-state-item .site-state-item-count {
    font-size: 3.2rem;
    font-weight: 100;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: color .3s linear;
    transition: color .3s linear;
}
.footer-block .site-state-item .site-state-item-name {
    font-size: .8rem;
    font-weight: 300;
    color: #a1a1a1;
    -webkit-transition: color .3s linear;
    transition: color .3s linear;
}
.footer-block .site-state-item:hover .site-state-item-count,
.footer-block .site-state-item:hover .site-state-item-name {
    color: #2ecc40;
}
.footer-block .container .menus {
    font-size: .7rem;
}
.footer-block .container .menus .menu-item {
    display: block;
    padding: .15rem 0 .15rem .25rem;
    line-height: 1rem;
    color: #a1a1a1;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.footer-block .container .menus .menu-item:hover {
    background-color: #000;
    color: #2ecc40;
}
.footer-block .container .menus .menu-item span {
    vertical-align: middle;
}
.footer-block .container .menus .menu-item svg {
    vertical-align: middle;
    margin-right: .5rem;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.footer-block .container .menus .menu-item:hover svg {
    fill: #2ecc40;
}
.footer-block .container .footer-block-qrcode p {
    margin-bottom: 1rem;
}
.footer-block .container .footer-block-qrcode img {
    width: 85%;
    margin: 0 auto;
    vertical-align: middle;
    display: block;
}
.copyright {
    position: relative;
    margin-top: 1.5rem;
    padding: 1.5rem 0 3rem 0;
    text-align: center;
    color: #fff;
    background-color: #111213;
}
.copyright a {
    color: #fff;
    margin-left: 5px;
}
.copyright p {
    color: #bbb;
    margin-top: 15px;
}
@media screen and (max-width:1200px) {
    .footer-block .container {
        max-width: 960px;
    }
    .footer-block .footer-block-author {
        width: 460px;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .footer-block .footer-block-menus,
    .footer-block .footer-block-contact,
    .footer-block .footer-block-qrcode {
        width: 140px;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}
@media screen and (max-width:979px) {
    .footer-block .container {
        max-width:744px;
    }
    .footer-block .footer-block-author {
        width: 352px;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .footer-block .footer-block-menus,
    .footer-block .footer-block-contact,
    .footer-block .footer-block-qrcode {
        width: 104px;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .footer-block .site-state-item .site-state-item-count {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 767px) {
    .footer-block .container {
        width: auto;
        padding: 0 30px;
        text-align: center;
    }
    .footer-block .footer-block-author,
    .footer-block .footer-block-menus,
    .footer-block .footer-block-contact,
    .footer-block .footer-block-qrcode {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-block h2 span {
        padding-left: .5rem;
    }
}
/* post */
.post-content {
    max-width: 1000px;
    margin: 0 auto;
}
.post-content .bm-panel-title {
    background-color: #fff;
    padding: 3% 4% 2%;
    border-bottom: 1px dashed #e3e3e3;
    color: #222;
    text-align: center;
}
.post-content .bm-panel-content {
    padding: 1% 4%;
}
.post-content .bm-panel-bar {
    padding: 2% 4%;
    background-color: #fff;
    border-top: 1px dashed #e3e3e3;
    color: #222;
}
.post-content .post-title {
    font-size: .9rem;
}
.post-content .post-meta {
    display: block;
    font-size: .65rem;
    margin-top: .5rem;
}
.post-content .post-meta span.baffle {
    padding-right: .3rem;
    padding-left: .3rem;
}
.post-content .post-body {
    font-size: .7rem;
    color: #333;
    line-height: 2;
    word-break: break-all;
    overflow: hidden;
    width: 100%;
    padding-bottom: .8rem;
}
.post-content .post-body img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.post-content .post-body blockquote {
    padding: .75rem 1rem;
    border-left: 5px solid #ccc;
    background-color: #f8f8f8;
    margin: 1rem 0;
}
.post-content .post-body code {
    color: #333;
    text-shadow: none;
    white-space: pre-wrap;
    background: #fafafa;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    position: relative;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 2px 6px;
    font-size: .65rem;
}
.post-content .post-body pre code {
    display: block;
    line-height: 1.6;
    padding: 5px;
}
.post-content .post-body p,
.post-content .post-body pre,
.post-content .post-body ul,
.post-content .post-body ol,
.post-content .post-body dl,
.post-content .post-body table {
    margin: .5rem 0;
}
.post-content .post-body h1,
.post-content .post-body h2,
.post-content .post-body h3,
.post-content .post-body h4,
.post-content .post-body h5,
.post-content .post-body h6 {
    margin: .75rem 0 .5rem;
}
.post-content .post-body ul,
.post-content .post-body ol,
.post-content .post-body dl {
    margin-left: 1.8rem;
    list-style: inherit;
}
.post-content .post-body ol {
    list-style-type: decimal;
}
.post-content .post-body ul {
    list-style-type: disc;   
}
.post-content .post-body li {
    list-style: inherit;
}
.post-content .post-body blockquote p {
    margin: 0;
}
.post-content .post-body a, 
.post-content .post-body a:focus,
.post-content .post-body a:hover {
    color: #08c;
}
.post-content .post-body a:focus,
.post-content .post-body a:hover {
    text-decoration: underline;
}
.post-content .post-body table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: .8rem;
    border-spacing: 0;
    border-collapse: collapse;
}
.post-content .post-body table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}
.post-content .post-body table tr:nth-child(2n) {
    background-color: #f6f8fa;
}
.post-content .post-body table th,
.post-content .post-body table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}
.post-content .post-body table th {
    font-weight: 600;
}

.post-content .post-meta span {
    font-size: .6rem;
}
.post-content .post-tags .post-tag {
    display: inline-block;
    vertical-align: bottom;
    font-size: .6rem;
    color: #222;
    height: .7rem;
    line-height: .7rem;
    background-color: #ebebeb;
    padding: 5px 10px;
    margin-right: .4rem;
    border-radius: 15px;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.post-content .post-tags .post-tag:hover {
    background-color: #222; 
    color: #fff;
}
.post-content .post-like {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    z-index: 1;
    top: -25px;
    right: 45px;
    border: 1px dashed #e3e3e3;
    border-radius: 50%;
    background-color: #fff;
}
.post-content .post-like:hover .heart,
.post-content .post-like:hover .heart:before,
.post-content .post-like:hover .heart:after {
    background-color: #dd4b39;
}
.heart {
    position: absolute;
    top: 19px;
    left: 16px;
    display: block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}
.heart, .heart:after, .heart:before {
    width: 16px;
    height: 16px;
    background-color: #e3e3e3;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
}
.heart:after, .heart:before {
    position: absolute;
    content: '';
    border-radius: 50%;
}
.heart:before {
    bottom: 0;
    left: -8px;
}
.heart:after {
    top: -8px;
    right: 0;
}
.post-near {
    max-width: 1000px;
    margin: 1rem auto 0 auto;
}
.post-near-prev, .post-near-next {
    display: inline-block;
    width: 48%;
    font-size: .75rem;
    vertical-align: middle;
    background-color: #fff;
    position: relative;
}
.post-near-prev {
    float: left;
}
.post-near-next {
    text-align: right;
    float: right;
}
.post-near-prev a,
.post-near-next a,
.post-near-prev span,
.post-near-next span {
    display: block;
    padding: 1rem;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    height: 1rem;
    line-height: 1rem;
}
.post-near-prev span,
.post-near-next span {
    color: #aaa;
}
.post-near-prev a {
    padding-left: 1rem;
}
.post-near-next a {
    padding-right: 1rem;
}
.post-near-prev a:hover,
.post-near-next a:hover {
    color: #2ecc40;
}
.post-near-prev a:after,
.post-near-next a:after,
.post-near-prev span:after,
.post-near-next span:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border-bottom: .5rem solid currentColor;
    border-top: .5rem solid transparent;
}
.post-near-prev a:after,
.post-near-prev span:after {
    left: 0;
    border-left: .5rem solid currentColor;
    border-right: .5rem solid transparent;
}
.post-near-next a:after,
.post-near-next span:after {
    right: 0;
    border-right: .5rem solid currentColor;
    border-left: .5rem solid transparent;
}
.post-near-prev a:before,
.post-near-prev span:before,
.post-near-next a:before,
.post-near-next span:before {
    color: currentColor;
    display: block;
    position: absolute;
    bottom: 0;
    font-size: .6rem;
}
.post-near-prev a:before,
.post-near-prev span:before {
    content: 'Prev';
    right: .25rem;
}
.post-near-next a:before,
.post-near-next span:before {
    content: 'Next';
    left: .25rem;
}
@media screen and (max-width: 767px) {
    .post-near-prev,
    .post-near-next {
        width: 100%;
        float: inherit;
        text-align: center;
    }
    .post-near-next {
        margin-top: 1rem;
    }
}
/* commont items */
.comment-list {
    max-width: 1000px;
    margin: 1rem auto 0 auto;
}
.comment-list .bm-panel-content {
    padding: 15px;
}
.comment-list .comment-item {
    border-top: 1px dashed #e3e3e3;
    padding: 10px 5px;
}
.comment-list .comment-item:first-child {
    border-top: none;
    padding: 0 5px 10px 5px;
}
.comment-list .comment-item-meta {
    word-wrap: break-word;
    word-break: break-all;
    height: 20px;
    overflow: hidden;
}
.comment-list .comment-item-meta-author {
    float: left;
    font-size: .6rem;
    line-height: 20px;
    color: #999;
}
.comment-list .comment-item-meta-author:hover {
    color: #666;
}
.comment-list .comment-item-meta time {
    float: right;
    font-size: .6rem;
    line-height: 20px;
    color: #999;
}
.comment-list .comment-item-text {
    word-wrap: break-word;
    word-break: break-all;
    color: #666;
    font-size: .7rem;
}
/* create-comment */
.create-comment {
    max-width: 1000px;
    margin: 1rem auto 0 auto;
}
.create-comment .bm-panel-content {
    background-color: #fff;
    padding: 3% 4%;
    color: #222;
    text-align: center;
}
.create-comment .create-comment-meta {
    overflow: hidden;
}
.create-comment .create-comment-meta .create-comment-name,
.create-comment .create-comment-meta .create-comment-email {
    width: 48%;
    display: block;
    float: left;
    overflow: hidden;
}
.create-comment .create-comment-meta .create-comment-name {
    margin-right: 4%;
}
.create-comment .create-comment-meta .comment-input {
    width: 100%;
}
.create-comment .create-comment-meta input {
    border: 1px dashed #e3e3e3;
}
.create-comment .create-comment-content {
    height: 120px;
    border: 1px dashed #e3e3e3;
    background-image: url(../../images/homepage/text_cover.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100px;
}
.create-comment .create-comment-submit {
    margin-bottom: 0;
}
.create-comment .create-comment-submit .btn-submit {
    display: inline-block;
    border: 1px dashed #e3e3e3;
    color: #222;
    background-color: #fff;
    width: 100%;
    -webkit-transition: border-color 0.2s linear, color 0.2s linear, background-color 0.2s linear;
    transition: border-color 0.2s linear, color 0.2s linear, background-color 0.2s linear;
}
.create-comment .create-comment-submit .btn-submit:hover {
    color: #e3e3e3;
    border: 1px solid #222;
    background-color: #222222;
}
@media screen and (max-width: 767px) {
    .create-comment .create-comment-meta .create-comment-name,
    .create-comment .create-comment-meta .create-comment-email {
        margin: 0;
        width: 100%;
    }
}
/* labs */
.labs .main-block {
    max-width: 1200px;
}
.labs .row-index {
    margin: auto;
}
.labs .main-content {
    margin: 0;
}
.labs .lab-item {
    display: block;
    position: relative;
    width: 280px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.labs .lab-item a {
    position: relative;
    display: block;
    background-color: #fff;
    margin: 0 auto 20px;
}
.labs .lab-item .lab-item-cover {
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}
.labs .lab-item .lab-item-cover:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    transition-delay: .06s;
    -webkit-transition-delay: .06s;
}
.labs .lab-item .lab-item-cover span {
    position: relative;
    display: block;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 220px;
    opacity: 0;
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    transition-delay: .06s;
    -webkit-transition-delay: .06s;
}
.labs .lab-item .lab-item-info {
    position: relative;
    height: auto;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: auto;
    transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    transition-delay: .06s;
    -webkit-transition-delay: .06s;
}
.labs .lab-item .lab-item-info .font-title {
    padding: 15px 10px 0;
    line-height: 20px;
    font-weight: 400;
    color: #333;
    font-size: 20px;
    text-align: center;
}
.labs .lab-item .lab-item-info p {
    padding: 10px 10px 20px;
    color: #333;
    font-size: 12px;
    opacity: .7;
    line-height: 16px;
    text-indent: 2em;
    text-align: justify;
}
.labs .lab-item .lab-item-info .lab-item-icon {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -3rem;
    right: -1rem;
}
/* message */
.message .message-notice-panel {
    position: relative;
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto;
}
.message .message-notice {
    position: relative;
    text-align: center;
    font-size: .6rem;
    color: #666;
    background-color: #fff;
    margin: 2.25rem .75rem;
    line-height: 1.8rem;
}
.message .message-notice:after,
.message .message-notice:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1.2rem;
    background-repeat: no-repeat;
    background-position: 0 -.3rem;
    background-size: 1.1rem 1.1rem;
}
.message .message-notice:after {
    bottom: -1rem;
    background-position: 100% .4rem;
    background-image: url(../../svg/quote-r.svg);
    border-bottom: 1px solid #e3e3e3;
}
.message .message-notice:before {
    top: -1rem;
    background-image: url(../../svg/quote-l.svg);
    border-top: 1px solid #e3e3e3;
}
/* error */
.error-panel {
    padding: 35px;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
}
.error-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
    text-align: right;
}
.error-info {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    text-align: left;
}
.error-info p {
    line-height: 30px;
}
.error-info font {
    color: #dd4b39;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    font-weight: bold;
}
.error-btns {
    margin-top: 20px;
}
.error-btns .error-btn {
    font-size: 16px;
    width: 120px;
    margin: 5px 10px;
}
@media (max-width: 1020px) {
    .post-list .list-container {
        width: 780px;
    }
    .post-list .posts-item {
        width: 370px;
    }
    .post-list .posts-item .post-content {
        min-height: 68px;
    }
}
@media (max-width: 840px) {
    .post-list .list-container {
        width: 100%;
    }
    .post-list .posts-item {
        width: 100%;
        margin: 0 0 .5rem;
    }
}
@media screen and (max-width: 1550px) {
    .labs .row-index {
        width: 1200px;
    }
}
@media screen and (max-width: 1250px) {
    .labs .row-index {
        width: 900px;
    }
}
@media screen and (max-width: 950px) {
    .labs .row-index {
        width: 600px;
    }
}
@media screen and (max-width: 650px) {
    .labs .row-index {
        width: 100%;
    }
    .labs .lab-item {
        width: 100%;
        padding: 0;
    }
    .labs .main-content {
        margin: 0 20px;
    }
}
@media (min-width: 1024px) {
    .labs .lab-item a:hover .lab-item-cover:before {
        opacity: 0.4;
    }
    .labs .lab-item a:hover .lab-item-cover span {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@-webkit-keyframes fade-in {
    0%{
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}
/**
 * elf
 */
.elf-btn {
    display:none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5em 0.75em;
    padding: 1px 0.7em;
    border: 1px solid #ff5a77;
    color: #d2322d;
    background: #ffe;
    font-size: small;
    cursor: pointer;
    border-radius: 3px;
}
.elf {
    display: block;
    overflow: visible;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 20;
    width: 85px;
    height: 152px;
    font-size: .6rem;
}
.elf-face {
    position: absolute;
    top: 0;
    right: 0;
    cursor: grab;
    cursor: -webkit-grab;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../../images/homepage/default/elf/face.png);
}
.elf-face:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.elf-face-00 {
    background-position: 0 0;
}
.elf-face-01 {
    background-position: -85px 0;
}
.elf-face-02 {
    background-position: -170px 0;
}
.elf-face-eye {
    background-image: url(../../images/homepage/default/elf/face-eyes.png);
    position: absolute;
    width: 44px;
    height: 19px;
    top: 49px;
    left: 14px;
    -webkit-animation: blink 5s infinite linear;
    animation: blink 5s infinite linear;
}
.elf-chat {
    position: absolute;
    left: -225px;
    top: 0;
    width: 220px;
    border: 1px solid #ff5a77;
    background-color: #ffe;
    font-size: .6rem;
    border-radius: 4px;
}
.elf-chat:after,
.elf-chat:before {
    display: block;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 3px;
    border-bottom: 5px solid transparent;
    border-right: 14px solid #ffe;
}
.elf-chat:before {
    bottom: -5px;
    right: 2px;
    border-right: 16px solid #ff5a77;
}
.elf-word {
    padding: .3rem .5rem;
    color: #666;
    min-height: 15px;
    word-wrap: break-word;
}
.elf-menus a {
    display: inline-block;
    width: 50%;
    text-align: center;
    color: #d2322d;
    padding: .1rem 0;
}
.elf-menu-btn {
    text-align: right;
    margin-top: .25rem;
    padding: 0 .5rem .15rem;
    color: #d2322d;
    cursor: pointer;
}
/* 眨眼 */
@-webkit-keyframes blink {
    0%  {opacity: 0;}
    79% {opacity: 0;}
    80% {opacity: 1;}
    100%{opacity: 0;}
}
@keyframes blink {
    0%  {opacity: 0;}
    79% {opacity: 0;}
    80% {opacity: 1;}
    100%{opacity: 0;}
}
/* categorys */
.categorys .main-block {
    max-width: 1200px;
}
.categorys .row-index {
    margin: auto;
}
.categorys .main-content {
    margin: 0;
}
.categorys .category-item {
    display: block;
    position: relative;
    width: 370px;
    float: left;
    padding-right: .75rem;
    padding-left: .75rem;
}
.categorys .category-item a {
    display: block;
    position: relative;
    background-color: #fff;
    margin: 0 auto 1rem;
}
.categorys .category-item .category-item-cover {
    width: 100%;
    height: 0;
    padding-bottom: 44.57%;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}
.categorys .category-item .category-item-cover .category-item-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color .15s linear;
    -webkit-transition: background-color .15s linear;
}
.categorys .category-item a:hover .category-item-header {
    background-color: rgba(255, 255, 255, 0.15);
}
.categorys .category-item-header-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    width: 50%;
    height: 2.5rem;
    text-align: center;
    color: #fff;
}
.categorys .category-item-header-box span {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 2.2rem;
    display: block;
    margin: 3px;
    transition: background-color .15s linear;
    -webkit-transition: background-color .15s linear;
}
.categorys .category-item-header-box:before,
.categorys .category-item-header-box:after {
    content: '';
    display: block;
    color: #fff;
    border: 3px solid rgba(0, 0, 0, 0.7);
    z-index: 1;
    position: absolute;
    width: 75%;
    height: 50%;
    transition: border-color .15s linear;
    -webkit-transition: border-color .15s linear;
}
.categorys .category-item-header-box:before {
    top: -3px;
    left: -3px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.categorys .category-item-header-box:after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
}
.categorys .category-item a:hover .category-item-header-box span {
    background-color: rgba(0, 0, 0, 1);
}
.categorys .category-item a:hover .category-item-header-box:before {
    border-left: 3px solid rgba(0, 0, 0, 1);
    border-top: 3px solid rgba(0, 0, 0, 1);
}
.categorys .category-item a:hover .category-item-header-box:after {
    border-right: 3px solid rgba(0, 0, 0, 1);
    border-bottom: 3px solid rgba(0, 0, 0, 1);
}
.categorys .category-item .category-item-info {
    font-size: .7rem;
    color: #838383;
    padding: .5rem;
    line-height: 1rem;
}
@media screen and (max-width: 1550px) {
    .categorys .row-index {
        width: 1200px;
    }
}
@media screen and (max-width: 1250px) {
    .categorys .row-index {
        width: 800px;
    }
}
@media screen and (max-width: 950px) {
    .categorys .row-index {
        width: 600px;
    }
    .categorys .category-item {
        width: 270px;
    }
}
@media screen and (max-width: 650px) {
    .categorys .row-index {
        width: 100%;
    }
    .categorys .category-item {
        width: 100%;
        padding: 0;
    }
    .categorys .main-content {
        margin: 0 20px;
    }
}
/* category */
.category-content {
    max-width: 1000px;
    margin: 0 auto;
}
.category-content .bm-panel-title {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    padding-bottom: 32.73%;
    height: 0;
    position: relative;
}
.category-content .category-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.25);
}
.category-content .category-header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    width: 50%;
    height: 4.5rem;
    text-align: center;
}
.category-content .category-header span {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 4.2rem;
    display: block;
    margin: 3px;
    font-size: 1.75rem;
    font-weight: 100;
}
.category-content .category-header:before,
.category-content .category-header:after {
    content: '';
    display: block;
    color: #fff;
    border: 3px solid rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    width: 75%;
    height: 50%;
}
.category-content .category-header:before {
    top: -3px;
    left: -3px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.category-content .category-header:after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
}
@media screen and (max-width: 650px) {
    .category-content .category-header {
        height: 2.3rem;
    }
    .category-content .category-header span {
        line-height: 2rem;
        font-size: 1.1rem;
    }
    .category-content .category-post-time {
        display: none;
    }
}
.category-content .bm-panel-content {
    padding: 1% 4% 3%;
}
.category-content .category-post-item {
    border-bottom: 1px solid #eee;
    font-size: .7rem;
    padding: .6rem;
    overflow: hidden;
    display: block;
    color: #666;
}
.category-content .category-post-item:last-child {
    border-bottom: 0;
}
.category-content .category-post-title {
    display: inline-block;
    padding-left: .75rem;
    border-left: 3px solid #fff;
}
.category-content .category-post-item:hover .category-post-title {
    border-left: 3px solid #2ecc40;
    color: #26272b;
}
.category-content .category-post-time {
    float: right;
}
.category-content .category-post-time time {
    margin-right: .25rem;
}
.category-content .category-post-item:hover .category-post-time time {
    color: #2ecc40;
}
.category-content .bm-panel-content blockquote {
    padding: .75rem 1rem;
    border-left: 5px solid #ccc;
    background-color: #f8f8f8;
    margin: 1rem 0;
}
.category-content .bm-panel-content blockquote p {
    margin: 0;
    font-size: .75rem;
    color: #333;
    line-height: 2;
    word-break: break-all;
    font-style: italic;
}
/* gotop */
.gotop {
    position: fixed;
    bottom: 0;
    font-size: .6rem;
    right: 5rem;
    background-color: #2ecc40;
    color: #fff;
    width: 3rem;
    height: 1.75rem;
    line-height: 1.95rem;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    z-index: 21;
    transform: translateY(2.5rem);
    -webkit-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
}
.gotop:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: .5rem solid #2ecc40;
    top: -.5rem;
}
/* share */
.post-share-card-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 59;
}
.post-share-card-box .post-share-card-panel {
    width: 20rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12.325rem;
    margin-left: -10rem;
}
.post-share-card-box .post-share-card {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-color: #f2f2f2;
}
.post-share-card-box .post-share-card-default-text {
    position: absolute;
    font-size: 18px;
    color: #a8a8a8;
    font-weight: 500;
    height: 1.2rem;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: .6rem;
    font-weight: lighter;
}
.post-share-card-box .post-share-card-default-text span {
    display: inline-block;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-name: jump;
    animation-name: jump;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.post-share-card-box .post-share-card-default-text span:nth-child(1) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;    
}
.post-share-card-box .post-share-card-default-bg {
    position: absolute;
    width: 6.525rem;
    height: 2.125rem;
    top: 35%;
    left: 50%;
    margin-left: -3.2625rem;
    margin-top: -1.0625rem;
    color: #a8a8a8;
    text-align: center;
    font-weight: lighter;
    font-size: 1.8rem;
}
.post-share-card-box .post-share-text {
    padding: .9rem 0;
    color: #323236;
    font-size: .6rem;
    margin: 0 auto;
    width: 69.34%;
    text-align: center;
}
.post-share-card-box .post-share-btns {
    text-align: center;
}
.post-share-card-box .post-share-btn {
    background-color: #48abff;
    color: #fff;
    font-size: .7rem;
    width: 100%;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.post-share-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: inherit;
}
@keyframes jump {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15%);
    }
}
span:nth-child(10) {
    animation-delay: 1s;
}
span:nth-child(9) {
    animation-delay: .9s;
}
span:nth-child(8) {
    animation-delay: .8s;
}
span:nth-child(7) {
    animation-delay: .7s;
}
span:nth-child(6) {
    animation-delay: .6s;
}
span:nth-child(5) {
    animation-delay: .5s;
}
span:nth-child(4) {
    animation-delay: .4s;
}
span:nth-child(3) {
    animation-delay: .3s;
}
span:nth-child(2) {
    animation-delay: .2s;
}
span:nth-child(1) {
    animation-delay: .1s;
}
@-webkit-keyframes jump {
    from {
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-15%);
    }
}
span:nth-child(10) {
    -webkit-animation-delay: 1s;
}
span:nth-child(9) {
    -webkit-animation-delay: .9s;
}
span:nth-child(8) {
    -webkit-animation-delay: .8s;
}
span:nth-child(7) {
    -webkit-animation-delay: .7s;
}
span:nth-child(6) {
    -webkit-animation-delay: .6s;
}
span:nth-child(5) {
    -webkit-animation-delay: .5s;
}
span:nth-child(4) {
    -webkit-animation-delay: .4s;
}
span:nth-child(3) {
    -webkit-animation-delay: .3s;
}
span:nth-child(2) {
    -webkit-animation-delay: .2s;
}
span:nth-child(1) {
    -webkit-animation-delay: .1s;
}
@media screen and (max-width: 400px) {
    .post-share-card-box {
        background-color: #fff;
    }
    .post-share-card-box .post-share-card-panel {
        width: 90%;
        margin-left: 5%;
        left: 0;
    }
}





