* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background: #eee;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a {
    color: transparent;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
ul, ol, li {
    list-style: none;
}
img{
    border: none;
}
input, textarea {
    outline: none;
    resize: none;
    border: none;
}
/* 设置选中的颜色 */
::selection {
    background-color: #262a30;
    color: #fff;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.clearfix { zoom:1; }
.clearfix:after { content: ""; display: block; height: 0; visibility: hidden; clear: both; }
/**
 * font
 */
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.font-title { font-weight: 500; color: #333; }
/* 主标题 */
h1.font-title { font-size: 16px; }
/* 次标题 */
h2.font-title { font-size: 14px; }
/* 小标题 */
h3.font-title { font-size: 12px; }
/* 正文、辅助文字、失效文字、链接文字 */
.font-text, .help-text, .disabled-text, .link-text { font-size: 12px; }
.font-text { color: #333; }
.help-text { color: #999; }
.link-text { color: #108ee9; }
.link-text:hover { color: #0b70b9; }
.disabled-text { color: #ccc; }
.ellipsis-text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.text-custom { color: #5fbeaa !important; }
.text-info { color: #33b86c !important; }
.text-create { color: #5fbeaa !important; }
.text-update { color: #29b6f6 !important; }
.text-remove { color: #dd4b39 !important; }
.text-white { color: #fff !important; }
.text-red { color: #bf1e4b !important; }

/* form */
.form-input { margin-bottom: 15px; }
.form-control {
    display: block;
    height: 24px;
    width: 100%;
    padding: 7px 12px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #565656;
    font-size: 14px;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
}
.form-control:focus {
    background-color: #faffbd;
}
.form-control.disable {
    background: #eee;
    color: #999;   
}
.form-panel textarea.form-control {
    font-size:14px !important;
    overflow:auto;
    padding:10px 15px;
    height:144px !important;
    line-height:22px;
    background-color:#fff;
    font-size:16px;
    -webkit-transition:background-color .3s linear;
    transition:background-color .3s linear;
}
.form-title {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 5px;
    border-left: 3px solid #ddd;
    color: #666;
    font-size: 16px;
    line-height: 20px;
}

.btn-submit {
    background-color: #5fbeaa;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
}
.btn-submit:hover {
    background-color: #78D2BF;
}
/* 面板阴影 */
.shadow {
    box-shadow: 0px 0px 5px #ccc;
    border: 1px solid #d4d4d4;
}
/* 文字阴影 */
.text-shadow {
    text-shadow: 0px 0px 1px #ccc;
}
/* 毛玻璃 */
.blur { 
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.btn {
    margin-left: 8px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 0;
    padding: 6px 12px;
    display: inline-block;
    background-color: #5fbeaa;
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    transition: background-color .3s linear;
}
.btn:hover {
    background-color: #78D2BF;
}
