extends ../../includes/app.pug
include ../../components/side-menu.pug

block title
    title 类别管理 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    +side-menu('admin_category')
    .panel
        .panel-title 
            h1 类别管理 ｜ 修改
            .panel-btns-list
                a.btn(href="/admin/category") 返回列表
        .panel-content
            form(method="post" action=`/admin/category/${result._id}/update`)
                .form-panel
                    .form-input
                        input.form-control(type="text" placeholder="请输入类别名称" name="name" value=result.name)
                    .form-input
                        input.form-control(type="text" placeholder="请输入类别权重" name="weight" value=result.weight)
                    .form-input
                        button.btn-submit(type="submit") 确定修改
