extends ../includes/app.pug

include ../components/list-container.pug
include ../components/page-nav.pug

block title
    title 主页 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    .row-index.clearfix
        if (posts.length !== 0)
            //- 帖子列表
            +list-container(posts)
            if (countPage > 1)
                +page-nav(currentPage, countPage)