extends ../includes/app.pug

include ../components/list-container.pug

block title
    title 前端开发 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    .row-index.clearfix
        if (posts.length !== 0)
            //- 帖子列表
            +list-container(posts)