extends ../includes/app.pug

include ../components/post-content.pug
include ../components/comment-list.pug
include ../components/create-comment.pug

block title
    title= `${post.title} ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。`

block main
    //- 帖子详情
    +post-content(post)
