extends ../includes/app.pug
include ../components/svg/icon-svg-icon.pug

block title
    title 施工中 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    .bm-panel.error-panel.shadow
        .bm-panel-content
            .error-info
                p 话说本页面还没被喜欢做菜的程序猿召唤出来呢
            .error-btns
                a.btn.error-btn(href='/') 返回首页