extends ../includes/login.pug

block title
    title 登录 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    .account-pages
    .account-pages-cover
    .account-login-panel
        form(method="post" action="/admin/auth/signin")
            .account-login-panel-head
                h1.font-title
                    span 登录
                    strong.text-custom 一天一步
                    span 系统
            .account-login-panel-body
                form
                    .form-input
                        input.form-control(type="text")
                    .form-input
                        input.form-control(type="password")
                    .form-input
                        button.btn-submit(type="submit") 登录系统
            .account-login-panel-foot
                p ©2015-2017 CoolFishStuido