include ../components/top-nav.pug

doctype html
html
    include ./head.pug
    body(class=`admin-page-${pageName}`)
        .page(class=`${pageName}`)
            header.header-block
                +top-nav()
            .main-block
                .main-content
                    block main
                include ./foot.pug
        