doctype html
html
    include ./head.pug
    body(class=`admin-page-${pageName}`)
        .page(class=`${pageName}`)
            .main-block
                .main-content
                    block main