html, body {
    min-height: 100%;
}
/* 后端登录 */
.login .main-content {
    margin: 0;
    padding: 0;
}
.account-pages {
    height:100%;
    width:100%;
    position: absolute;
    background: url(../../images/admin/bg-login.jpg) no-repeat center top;
    background-size: cover;
}
.account-pages-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 61, 76, 0.4);
}
.account-login-panel {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    width: 380px;
    padding: 80px 0 0 0;
    background-color: rgba(54, 61, 76, 0.9);
    color: #fff;
    animation-name:cfs_fadeInRight;
    animation-duration:0.75s;
    -webkit-animation-name:cfs_fadeInRight;
    -webkit-animation-duration:0.75s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes cfs_fadeInRight{
    0%       { opacity: 0.5; -webkit-transform: translateX(100%); }
    90%,100% { opacity: 1; -webkit-transform: none; }
}

@keyframes cfs_fadeInRight{
    0%       { opacity: 0.5; transform: translateX(100%); }
    90%,100% { opacity: 1; transform: none; }
}
.account-login-panel-head {
    padding: 10px 20px;
}
.account-login-panel-head h1 {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.account-login-panel-head h1 strong {
    margin: 0 10px;
}
.account-login-panel-body {
    padding: 10px 40px;
}
.account-login-panel-foot {
    padding: 10px 0 20px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.account-login-panel-foot p {
    font-size: 12px;
}
.account-login-panel .btn-submit {
    width: 206px;
}
/* 头部 菜单 */
.header-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}
.top-nav {
    overflow: hidden;
    height: 100%;
    background-color: #363d4c;
    padding-right: 15px;
}
.top-nav-logo {
    float: left;
    position: relative;
    width: 240px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.top-nav-menu {
    float: right;
    overflow: hidden;
}
.top-nav-menu-item {
    float: left;
    color: #838fa8;
}
.top-nav-menu-item a {
    display: block;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: background-color .3s linear;
    -webkit-transition: background-color .3s linear;
}
.top-nav-menu-item a:hover {
    background-color: #262D33;
}
.top-nav-menu-item a span {
    color: #838fa8;
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
}
.top-nav-menu-item a:hover span {
    color: #fff;
}
/* 左侧菜单 */
.side-menu {
    position: fixed;
    width: 240px;
    left: 0;
    top: 60px;
    bottom: 0;
    background-color: #363d4c;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
.sidebar-menu {
    padding-top: 0;
}
.sidebar-menu a {
    display: block;
}
.sidebar-menu a span {
    display: block;
    padding: 12px 20px;
    color: #838fa8;
    text-align: center;
    border-left: 3px solid #363d4c;
    -webkit-transition: background-color .3s linear,
                        color .3s linear,
                        border-color .3s linear,
                        padding-left .3s linear;
    transition: background-color .3s linear,
                color .3s linear,
                border-color .3s linear,
                padding-left .3s linear;
}
.sidebar-menu a:hover span,
.sidebar-menu a.active span {
    background-color: #262d33;
    color: #5fbeaa;
    border-color: #5fbeaa;
    padding-left: 25px;
}
/* 右侧内容 */
.main-content {
    margin-left: 240px;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px 15px;
}
/* 右侧底部 */
.footer-block {
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 240px;
    right: 0;
    padding: 20px 30px;
    text-align: right;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #eee;
    color: #58666e;
}
/* 面板 */
.panel {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}
.panel .panel-title {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 10px;
}
.panel .panel-title h1 {
    width: 50%;
    display: inline-block;
    color: #797979;
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
}
.panel .panel-title .panel-btns-list {
    width: 50%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
.panel .panel-content .content-list {
    padding-top: 10px;
}
.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.table th {
    background-color: #fff;
    vertical-align: bottom;
    border-bottom: 2px solid #edeff2;
    padding: 8px;
    line-height: 1.5;
    color: #666;
    text-align: center;
    font-size: 14px;
}
.table tbody tr:nth-of-type(odd) {
    background-color: #f4f8fb;
}
.table td {
    color: #797979;
    border-top: 1px solid #ebeff2;
    padding: 8px;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
}
.table td a {
    display: inline-block;
    margin: 0 5px;
}
.form-panel {
    padding-top: 20px;
    text-align: center;
}
.form-control {
    width: 60%;
    display: inline-block;
}
.color-update {
    color: #29b6f6;
}
.color-delete {
    color: #dd4b39;
}
.no-data {
    color: #666;
    padding: 20px;
    text-align: center;
}
.btn {
    margin-left: 8px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 0;
    padding: 6px 12px;
    display: inline-block;
    background-color: #5fbeaa;
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    transition: background-color .3s linear;
}
.btn:hover {
    background-color: #78D2BF;
}
