extends ../../includes/app.pug
include ../../components/side-menu.pug

block title
    title 标签管理 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    +side-menu('admin_tag')
    .panel
        .panel-title 
            h1 标签管理
            .panel-btns-list
                a.btn(href="/admin/tag") 返回列表
        .panel-content
            form(method="post" action="/admin/tag/create")
                .form-panel
                    .form-input
                        input.form-control(type="text" placeholder="请输入标签名称" name="name")
                    .form-input
                        input.form-control(type="text" placeholder="请输入标签权重" name="weight")
                    .form-input
                        button.btn-submit(type="submit") 创建标签  
