extends ../../includes/app.pug
include ../../components/side-menu.pug

block title
    title 标签管理 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    +side-menu('admin_setting')
    .panel
        .panel-title 
            h1 设置管理 ｜ 修改
            .panel-btns-list
                a.btn(href="/admin/setting") 返回列表
        .panel-content
            form(method="post" action=`/admin/setting/update`)
                .form-panel
                    .form-input
                        .form-title 公告
                        textarea.form-control(name="slogan" placeholder="请输入公告内容, 用中文竖线(｜)进行分割")= result.slogan.join('｜')
                    .form-input
                        button.btn-submit(type="submit") 确定修改
