mixin side-menu(type)
    .side-menu
        .sidebar-menu
            - 
                var menus = [
                    { name: '基础平台', icon: 'icon-dashboard', url: '/admin', menu: 'admin_index' },
                    { name: '标签管理', icon: 'icon-tags', url: '/admin/tag', menu: 'admin_tag' },
                    { name: '应用管理', icon: 'icon-coffee', url: '/admin/app', menu: 'admin_app' },
                    { name: '内容管理', icon: 'icon-file', url: '/admin/content', menu: 'admin_content' },
                    { name: '留言管理', icon: 'icon-comments', url: '/admin/message', menu: 'admin_message' },
                    { name: '类别管理', icon: 'icon-inbox', url: '/admin/category', menu: 'admin_category' },
                    { name: '统计分析', icon: 'icon-bar-chart', url: '/admin/stat', menu: 'admin_stat' },
                    { name: '系统管理', icon: 'icon-cogs', url: '/admin/setting', menu: 'admin_setting' }
                ]
            each i in menus
                a(href=i.url class=(i.menu === type ? 'active' : ''))
                    span= i.name

