mixin side-menu()
    .side-menu
        .sidebar-menu
            a.active
                span 基础平台
            a
                span 应用管理
            a
                span 内容管理
            a
                span 留言管理
            a
                span 类别管理
            a
                span 标签管理
            a
                span 统计分析
            a
                span 系统管理

