mixin top-nav()
    nav.top-nav
        .top-nav-logo 一天一步
        ul.top-nav-menu
            li.top-nav-menu-item
                a 用户
            li.top-nav-menu-item
                a 放大
            li.top-nav-menu-item
                a 退出
