include ../components/top-nav.pug
include ../components/footer-container.pug

doctype html
html
    include ./head.pug
    body(class=`body-${pageName}`).theme-body-color
        .page(class=`${pageName}`)
            header.header-block
                +top-nav()
            .main-block
                .main-content
                    block main
            footer.footer-block
                block footer
                +footer-container()
        include ./foot.pug