head
    meta(charset="utf-8")
    block title
        title 首页 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="../css/index.css")
    link(rel="stylesheet" href="../css/homepage/main.css")
    include ./theme.pug
    block head