style.
    /* 页面背景颜色 */
    .theme-body-color {
        background-color: #eee !important;
    }
    /****** 文字 ******/
    /* 标题文字颜色 */
    .theme-font-title-color, .theme-font-title-color a {
        color: #333 !important;
    }
    /* 标题文字颜色(反色) */
    .theme-reverse-font-title-color, .theme-reverse-font-title-color a {
        color: #fff !important;
    }
    /* 正文文字颜色 */
    .theme-font-text-color, .theme-font-text-color a {
        color: #333;
    }
    /* 正文文字颜色(反色) */
    .theme-reverse-font-text-color, .theme-reverse-font-text-color a {
        color: #aaa;
    }
    /* 辅助文字颜色 */
    .theme-help-text-color, .theme-help-text-color a {
        color: #999 !important;
    }
    /* 失效文字颜色 */
    .theme-disabled-text-color, .theme-disabled-text-color a {
        color: #ccc !important;
    }
    /* 链接文字颜色 */
    .theme-link-text-color, .theme-link-text-color a {
        color: #108ee9 !important;
    }
    .theme-link-text-color:hover, .theme-link-text-color a:hover {
        color: #0b70b9 !important;
    }
    /* 卡片标题文字颜色 */
    .theme-panel-title-color, .theme-panel-title-color a {
        color: #aaa !important;
    }
    .theme-panel-title-color a:hover {
        color: #fff !important;
    }
    /****** 文字 ******/
    /****** 背景 ******/
    /* 主题色 */
    .theme-color, .theme-color a {
        color: #fff !important;
        background-color: #5b6064 !important;
    }
    .theme-color a:hover {
        color: #5b6064 !important;
        background-color: #fff !important;
    }
    /* 主题色(反色) */
    .theme-reverse-color, .theme-reverse-color a {
        color: #5b6064 !important;
        background-color: #fff !important;
    }
    .theme-reverse-color a:hover {
        color: #fff !important;
        background-color: #5b6064 !important;
    }
    /* 主题文字色 */
    .theme-text-color, .theme-text-color a {
        color: #5b6064 !important;
    }
    /* 主题背景色 */
    .theme-bg-color {
        background-color: #222 !important;
    }
    /* 主题背景色(反色) */
    .theme-reverse-bg-color {
        background-color: #fff !important;
    }
    /* 按钮主色 */
    .theme-btn-color, .theme-btn-color a {
        color: #fff !important;
        background-color: #222 !important;
    }
    .theme-btn-color:hover,
    .theme-btn-color a:hover,
    .theme-btn-color-hover:hover {
        color: #fff !important;
        background-color: #4a4a4a !important;
    }
    /****** 背景 ******/
    