mixin about()
    .bm-panel.post-content.shadow.text-shadow
        .bm-panel-title
            .post-header
                h1.post-title.theme-font-title-color 关于一天一步以及我
        .bm-panel-content
            .post-body.theme-font-text-color
                blockquote
                    p 不会做菜的起夜家就不是一个好的程序猿
                p 一天一步的寓意是 一天一步，一步一景，技术的道路，学无止境，只有每一天都在进步，才能走在浪潮的前沿。
                p 这个网站是我做的新个人网站地址，原地址为：
                    a(href="//www.coolfishstudio.com") www.coolfishstudio.com
                p 之所以换名字，是因为感觉之前的并不好听而已。
                p 至于我呢
                pre
                    code
                        | {
                        |   "nickname"  : "春哥", // 信我啊～信我啊～快来信我啊～
                        |   "authorName": "Yves",
                        |   "contact"   : {
                        |       "QQ"    : "461836324",
                        |       "WeiXin": "coolfishstudio",
                        |       "Github": "https://github.com/coolfishstudio",
                        |       "weibo" : "404 Not found",
                        |       "Email" : "461836324@qq.com", // 一般很久看一次
                        |   },
                        |   "location"  : "beijing",
                        |   "skills"    : ["HTML", "CSS", "JAVASCRIPT", "NODE.JS", "..."],
                        |   "tags"      : ["80后的尾巴", "业余的厨子", "水瓶座的神经病", "前端工程师", "推理爱好者", "综艺迷"]
                        | }
                p 目前就职于 北京小云世界信息技术有限公司[北京光音网络发展股份有限公司下属子公司]，负责app的微站开发。
                p 曾于 2014年5月21日 入职 北京光音网络发展股份有限公司
                p 曾于 2012年3月xx日 入职 北京中科软科技股份有限公司[行业推广一部]
                p 更多关于我的故事 以后再说～
