include ./svg/icon-app-animate.pug
include ./svg/icon-app-snow.pug


mixin application(item)
    a.application(href=item.url target="_blank")
        span= item.name
        if item.icon === 'snow'
            +icon-app-snow(48, 48, '#ffffff')
        if item.icon === 'animate'
            +icon-app-animate(48, 48, '#ffffff')