mixin author-site()
    .bm-panel.author-site.shadow
        img.author-site-bg(src="../images/homepage/author-site-bg.png")
        .author-site-box
            img.author-avatar(src="../images/homepage/author-avatar.png")
            h1.font-title.author-name Yves
            .author-desc.font-text 一天一步，一步一景，我是春雨，网名在上面，有人叫我春哥，也有人叫我歪腿，但我想说，不会做菜的起夜家，不是一个好程序猿，而我只是不想死在沙滩上。
            .site-state
                .site-state-item
                    .font-title.site-state-item-count 62
                    .font-text.site-state-item-name 日志
                .site-state-item
                    .font-title.site-state-item-count 5
                    .font-text.site-state-item-name 作品
                .site-state-item
                    .font-title.site-state-item-count 11
                    .font-text.site-state-item-name 分类