mixin comment-list(data)
    .bm-panel.comment-list.shadow
        .bm-panel-content
            each item in data
                .comment-item
                    .comment-item-meta
                        .comment-item-meta-author= item.name
                        time(itemprop='dateCreated' data-value=item.createdAt title= locals.viewHelper.dateFormat(item.createdAt, 'yyyy-MM-dd hh:mm:ss'))= locals.viewHelper.dateFormat(item.createdAt, 'yyyy-MM-dd')
                    .comment-item-text
                        span= item.content
                    