mixin comment-list()
    .bm-panel.comment-list.shadow
        .bm-panel-content
            each i in [,,,,,,]
                .comment-item
                    .comment-item-meta
                        a.comment-item-meta-author 113.116.60.*
                        time(itemprop='dateCreated' data-value='1484960497' title='2017-01-21 09:01:37') 01-21
                    .comment-item-text
                        span 123123123123
                    