mixin copyright()
    .copyright.font-text.text-shadow
        span ©  2015 - 2017 Yves 461836324@qq.com
        a.font-text(href='http://www.coolfishstudio.com') 酷鱼网
        a.font-text(href='http://www.yitianyibu.com') 一天一步网
