mixin create-comment(data)
    .bm-panel.create-comment.shadow
        form(method="post" action=`/post/${data._id}/comment`)
            .bm-panel-content
                .create-comment-meta
                    .create-comment-name
                        .comment-input
                            .form-input
                                -
                                    let ip = data.clientIp
                                    let adds = ip.split('.')
                                    adds[adds.length - 1] = '*'
                                    ip = adds.join('.')
                                input.form-control(type='text' name="name" placeholder=`昵称[${ip}]`)
                    .create-comment-email
                        .comment-input
                            .form-input
                                input.form-control(type='text' name="email" placeholder="邮箱")
                .form-input
                    textarea.form-control.create-comment-content(placeholder="写下你的评论..." name="content")
                .create-comment-submit
                    button.btn-submit 提交
