mixin create-comment()
    .bm-panel.create-comment.shadow
        .bm-panel-content
            .create-comment-meta
                .create-comment-name
                    .comment-input
                        .form-input
                            input.form-control(type='text' placeholder="昵称[114.242.5.*]")
                .create-comment-email
                    .comment-input
                        .form-input
                            input.form-control(type='text' placeholder="邮箱(仅用于接收通知)")
            .form-input
                textarea.form-control.create-comment-content(placeholder="写下你的评论...")
            .create-comment-submit
                a.btn-submit 提交
