mixin hot-recomm()
    .bm-panel.hot-recomm
        .bm-panel-title 热门推荐
        .bm-panel-content
            .hot-recomm-item
                .hot-recomm-item-image(style="background-image: url(images/homepage/posts/post_1_icon.png)")
                .hot-recomm-item-info
                    h1.font-title.ellipsis-text.hot-recomm-item-title XXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    .help-text.hot-recomm-item-date 2017-01-28
            .hot-recomm-item
                .hot-recomm-item-image(style="background-image: url(images/homepage/posts/post_2_icon.png)")
                .hot-recomm-item-info
                    h1.font-title.ellipsis-text.hot-recomm-item-title XXXXXXXXXXXXXX
                    .help-text.hot-recomm-item-date 2017-01-28
            .hot-recomm-item
                .hot-recomm-item-image(style="background-image: url(images/homepage/posts/post_3_icon.png)")
                .hot-recomm-item-info
                    h1.font-title.ellipsis-text.hot-recomm-item-title XXXXXXXXXXXXXX
                    .help-text.hot-recomm-item-date 2017-01-28