mixin hot-recomm()
    .bm-panel.hot-recomm.shadow
        .bm-panel-title 热门推荐
        .bm-panel-content.text-shadow
            .hot-recomm-item
                .hot-recomm-item-info
                    h1.font-title.ellipsis-text.hot-recomm-item-title 移动 WEB 通用优化策略介绍（一）
                    .help-text.hot-recomm-item-date 2017-01-28
            .hot-recomm-item
                .hot-recomm-item-info
                    h1.font-title.ellipsis-text.hot-recomm-item-title 移动 WEB 通用优化策略介绍（二）
                    .help-text.hot-recomm-item-date 2017-01-28
            .hot-recomm-item
                .hot-recomm-item-info
                    h1.font-title.ellipsis-text.hot-recomm-item-title 移动 WEB 通用优化策略介绍（三）
                    .help-text.hot-recomm-item-date 2017-01-28