include ./posts-item.pug

mixin list-container(posts)
    .list-container.clearfix
        each item in posts
            +posts-item(item)
        //- .page-nav.theme-bg-color.theme-panel-title-color
        //-     a.link-text.prev « 上一页
        //-     a.link-text.next 下一页 »