include ./posts-item.pug

mixin list-container()
    .bm-panel.list-container.shadow
        each i in [,,,,,,,,,]
            +posts-item()
        .page-nav
            a.link-text.prev « 上一页
            a.link-text.next 下一页 »