mixin posts-item(item)
    .posts-item.text-shadow
        .meta.help-text.theme-help-text-color
            .date
                time Apr 16, 2016
            //- .comment 22 Comments
        a(href=`/post/${item._id}`)
            h1.font-title.theme-font-title-color.title= item.title
        .entry-content
            p.font-text.theme-font-text-color!= item.html
            p.more-link
                a.link-text.theme-link-text-color(href=`/post/${item._id}`) 继续阅读 »