mixin post-content()
    .bm-panel.post-content.shadow.text-shadow
        .bm-panel-title
            .post-header
                h1.post-title HTML5摇一摇效果
                .post-meta
                    span.post-time 发表于 2016-02-19  |  
                    span.post-category 分类于 前端特效  |  
                    span.post-comments-count 0条评论
        .bm-panel-content
            .post-body
                h3(id="前言") 前言
                p
                    | 所谓抢红包，其实就是微信的摇一摇，不得不说，这个摇一摇的动作在其他的应用里面真的是很少被使用，那么我们如何通过js来实现呢？
                    br
                    | 在html5中，有个属性可以来获取设备的运动传感器的时间、状态、加速度等数据，常见的数据就是来自于设备的陀螺仪、加速计、罗盘。
                    br
                    | 其中，
                    strong deviceorientation事件
                    | ，提供了设备的物理方向信息；
                    br
                    strong devicemotion事件
                    | ，提供了设备的加速度。
                    br
                    | 很明显，通过这两个事件，我们能做摇一摇、重力感应、指南针等应用。
                h3(id="前言") 前言
                p
                    | 所谓抢红包，其实就是微信的摇一摇，不得不说，这个摇一摇的动作在其他的应用里面真的是很少被使用，那么我们如何通过js来实现呢？
                    br
                    | 在html5中，有个属性可以来获取设备的运动传感器的时间、状态、加速度等数据，常见的数据就是来自于设备的陀螺仪、加速计、罗盘。
                    br
                    | 其中，
                    strong deviceorientation事件
                    | ，提供了设备的物理方向信息；
                    br
                    strong devicemotion事件
                    | ，提供了设备的加速度。
                    br
                    | 很明显，通过这两个事件，我们能做摇一摇、重力感应、指南针等应用。
        .bm-panel-bar
            .post-tags
                span.post-tag 前端
                span.post-tag HTML5
            .post-like
                span.heart


