mixin share(id, type, oid)
    .post-share-card-box
        .post-share-card-panel
            .post-share-card
                .post-share-card-default-text
                    span 正
                    span 在
                    span 为
                    span 您
                    span 绘
                    span 制
                    span 中
                    span .
                    span .
                    span .
                .post-share-card-default-bg 分享
                img#shareCard(src='')
            .post-share-text
                p.post-share-text-save 长按保存图片，分享给好友即可；
                //- p ● 点击"更换主题"按钮，切换样式。
            .post-share-btns
                //- a.post-share-btn 更换主题
                a.post-share-btn#shareCancelBtn 取消分享
            iframe.post-share-card(style='display:none;')
            .post-share-data-temp(style="display:none" data-id=`${id}` data-type=`${type}` data-oid=`${oid}`)
