include ../components/svg/icon-svg-weibo.pug
include ../components/svg/icon-svg-email.pug
include ../components/svg/icon-svg-github.pug
include ../components/svg/icon-svg-weixin.pug
include ../components/svg/icon-svg-qq.pug

mixin side-contact()
    .bm-panel.side-contact.shadow
        .bm-panel-content
            .side-contact-qrcode
                img(src="../images/homepage/qrcode.jpg")
        .bm-panel-bar.theme-bg-color
            .side-contact-items
                .side-contact-item.bc-weibo.theme-btn-color-hover
                    +icon-svg-weibo(20, 20, '#ffffff')
                .side-contact-item.bc-email.theme-btn-color-hover
                    +icon-svg-email(20, 20, '#ffffff')
                .side-contact-item.bc-github.theme-btn-color-hover
                    +icon-svg-github(20, 20, '#ffffff')
                .side-contact-item.bc-weixin.theme-btn-color-hover
                    +icon-svg-weixin(20, 20, '#ffffff')
                .side-contact-item.bc-qq.theme-btn-color-hover
                    +icon-svg-qq(20, 20, '#ffffff')