mixin side-contact()
    .bm-panel.side-contact
        .bm-panel-content
            .side-contact-qrcode
                img(src="images/homepage/qrcode.jpg")
        .bm-panel-bar
            .side-contact-items
                .side-contact-item.bc-weibo
                    +icon-svg-weibo(20, 20, '#ffffff')
                .side-contact-item.bc-email
                    +icon-svg-email(20, 20, '#ffffff')
                .side-contact-item.bc-github
                    +icon-svg-github(20, 20, '#ffffff')
                .side-contact-item.bc-weixin
                    +icon-svg-weixin(20, 20, '#ffffff')
                .side-contact-item.bc-qq
                    +icon-svg-qq(20, 20, '#ffffff')