mixin slide-container()
    .bm-panel.slide-container
        ul.slide-pic-items
            li.slide-pic-item
                img(src="images/homepage/slider/slider_1.png")
        ul.slide-text-items
            li.slide-text-item.font-title 小社群 大生意