include ../components/svg/icon-svg-yi.pug
include ../components/svg/icon-svg-tian.pug
include ../components/svg/icon-svg-bu.pug
include ../components/svg/icon-svg-search.pug

mixin top-nav()
    .top-nav
        .top-nav-container.bm-panel.clearfix
            a(href='/').top-nav-logo
                +icon-svg-yi(32, 32, '#5b6064')
                +icon-svg-tian(32, 32, '#5b6064')
                +icon-svg-yi(32, 32, '#5b6064')
                +icon-svg-bu(32, 32, '#5b6064')
            .top-nav-buttons
                .top-nav-menu-search(class=`${keywords ? 'active' : ''}`)
                    +icon-svg-search(24, 24, '#5b6064')
                .top-nav-menu-toggle
                    span
                    span
                    span
            .top-nav-slogan.text-shadow
                span= locals.slogan
    ul.top-nav-menu
        li
            a(href='/category').top-nav-menu-item 文章集
        li
            a(href='/labs').top-nav-menu-item 实验室
        li
            a(href='/message').top-nav-menu-item 留言板
        li
            a(href='/about').top-nav-menu-item 关于我
    form.top-nav-share(id="search" method="get" action='/search' class=`${keywords ? 'top-nav-share-show' : ''}`)
        input(type='text' placeholder='...搜索' name='q' value=`${keywords || ''}`)
        input(type='submit' style='display:none;')
