include ../components/svg/icon-svg-yi.pug
include ../components/svg/icon-svg-tian.pug
include ../components/svg/icon-svg-bu.pug

mixin top-nav()
    nav.top-nav
        .top-nav-container.bm-panel.shadow
            a(href='/')
                .top-nav-logo.theme-color
                    +icon-svg-yi(32, 32, '#fff')
                    +icon-svg-tian(32, 32, '#fff')
                    +icon-svg-yi(32, 32, '#fff')
                    +icon-svg-bu(32, 32, '#fff')
            ul.top-nav-menu.theme-reverse-color
                li
                    a(href='/posts').top-nav-menu-item 文章集
                li
                    a(href='/labs').top-nav-menu-item 系列册
                li
                    a(href='/labs').top-nav-menu-item 实验室
                li
                    a(href='/about').top-nav-menu-item 留言板
                li
                    a(href='/about').top-nav-menu-item 关于我
                
            .top-nav-user
